
<!DOCTYPE html>
<html>
<head>
    <title>Wykresy ogłoszeń</title>
</head>
<body>
    <h1>Ogłoszenia OLX i Otodom</h1>
    <form method="get">
        <label for="city">Wybierz miasto:</label>
        <select name="city" id="city" onchange="this.form.submit()">
            {% for city in cities %}
                <option value="{{ city }}" {% if city == selected_city %}selected{% endif %}>{{ city }}</option>
            {% endfor %}
        </select>
    </form>

    <hr>
    {{ plot_olx | safe }}
    <hr>
    {{ plot_oto | safe }}
    <hr>
    {{ plot_sum | safe }}
</body>
</html>

